{% extends 'base.html' %}

{% block title %}Gestión de Usuarios{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Gestión de Usuarios</h2>
    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.get_rol_display }}</td>
                <td>
                    <a href="{% url 'asignar_rol' usuario.id %}" class="btn btn-primary btn-sm">Asignar Rol</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
