<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error en el Pago</title>
</head>
<body>
    <div style="text-align: center; margin-top: 50px;">
        <h1>Ocurrió un Error</h1>
        <p>Hubo un problema al procesar tu pago. Por favor, inténtalo nuevamente.</p>
        <p>Si el problema persiste, contáctanos para más información.</p>
        <a href="{% url 'home' %}" style="text-decoration: none; padding: 10px 20px; background-color: #f44336; color: white; border-radius: 5px;">Volver al Inicio</a>
    </div>
</body>
</html>
